body{
    background-color: cyan;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    }
    form{
        width: 400px;
        background-color: whitesmoke;
        border-radius: 5px;
        padding: 30px;
    }
    h1{
        color:black;
        padding: 10px;
        margin: 20px 0px;
        cursor:pointer;
    }
    .input-group{
        margin-bottom: 15px;

    }
    .input-group input{
        border-radius: 15px;
        padding: 10px;
    }
    .error{
        color: red;
    }
    .input-group success input{
        border-color: green;
    }
    .input-group .error input{
        border-color: red;
    }